*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/deploymentTargetSelector.xml
/.idea/kotlinc.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
/app/src/debug/google-services.json
/app/src/enhanced/google-services.json
# Project exclude paths
/buildSrc/build/